@import "color-variables";

/** ==================================== Navigation Header ==================================== */

.float-l {
  float: left;
}

header {
  height: 70px;
  padding: 0 25px;
  position: fixed;
  width: 100%;
  z-index: 50;
  background-color: #ffffff;
  left: 0;
  top: 0;
}

.main-logo {
  margin-top: 28px;
  display: inline-block;
}

.main-navigation {
  float: right;
}

.nav-menu-item {
  margin-left: 40px;
  font-size: 14px;
  color: $secondary-color;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  line-height: 70px;

  &.active, &:hover {
    color: $default-color;
  }
}

#main-nav-open-menu-btn {
  display: none;
}


//mobile menu starts here

.mobile-menu-container {
  display: none;
  padding: 0 25px;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  z-index: 200;
  overflow-y: scroll;
  overflow-x: hidden;
  bottom: 0;
  position: fixed;
  top: 0;

  .close-btn {
    float: right;
    margin-top: 25px;
  }
}

.mobile-menu-header {
  overflow: hidden;
}

.mobile-main-navigation {
  margin-top: 45px;
  clear: both;

  .nav-menu-item {
    display: block;
    text-align: center;
    line-height: 45px;
    margin-left: 0;
  }
}

.mobile-menu-footer {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  border-top: 1px solid $border-color;
  padding: 35px 15px 10px;

  .copyright {
    font-size: 12px;
    position: initial;
    display: block;
    text-align: center;
    transform: initial;
    left: initial;
    margin-bottom: 25px;
  }

  .social-media-container {
    float: none;

    img {
      opacity: 1;
      margin: 0 15px;
    }
  }
}


@media only screen and (max-width: 530px) {

  .main-navigation {
    display: none;
  }

  #main-nav-open-menu-btn {
    display: block;
  }

}