<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" href="../build/main.css">
</head>
<body>




<footer>

    <nav>

        <a class="footer-menu-item">Terms & Conditions</a>

        <a class="footer-menu-item">Privacy Policy</a>

    </nav>

    <p class="copyright">©UIDesignDaily 2019</p>

    <div class="social-media-container">

        <div class="footer-social-btn"></div>

        <div class="footer-social-btn"></div>

        <div class="footer-social-btn"></div>

        <div class="footer-social-btn"></div>

        <div class="footer-social-btn"></div>

        <!--to replace with relevant icons-->

        <!--<img alt="twitter-logo" src="../style/img/twitter-logo.svg">-->

        <!--<img alt="behance-logo" src="../style/img/behance-logo.svg">-->

        <!--<img alt="dribbble-logo" src="../style/img/dribbble-logo.svg">-->

        <!--<img alt="instagram-logo" src="../style/img/instagram-logo.svg">-->

        <!--<img alt="facebook-logo" src="../style/img/facebook-logo.svg">-->

    </div>

</footer>





</body>

</html>