<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" href="../build/main.css">
</head>
<body>


<header>

    <p class="main-logo float-l">Logo</p>

    <nav class="main-navigation">

        <a id="main-nav-designs-btn" class="nav-menu-item active">Designs</a>

        <a id="main-nav-about-btn" class="nav-menu-item">About</a>

        <a id="main-nav-license-btn" class="nav-menu-item">License</a>

        <a id="main-nav-contact-btn" class="nav-menu-item">Contact</a>

    </nav>

    <div id="main-nav-open-menu-btn" class="mobile-menu-icon"></div>

</header>

<!--mobile menu starts here-->

<div id="mobile-menu-container" class="mobile-menu-container">

    <div class="mobile-menu-header">

        <p class="main-logo float-l">Logo</p>

        <div id="mobile-close-menu-btn" class="close-btn active"></div>

    </div>

    <div class="mobile-main-navigation">

        <a id="mobile-main-nav-designs-btn" class="nav-menu-item active">Designs</a>

        <a id="mobile-main-nav-about-btn" class="nav-menu-item">About</a>

        <a id="mobile-main-nav-license-btn" class="nav-menu-item">License</a>

        <a id="mobile-main-nav-contact-btn" class="nav-menu-item">Contact</a>

        <a id="mobile-main-nav-terms-btn" class="nav-menu-item">Terms & Conditions</a>

        <a id="mobile-main-nav-privacy-btn" class="nav-menu-item">Privacy policy</a>

    </div>


    <div class="mobile-menu-footer">

        <p class="copyright">©UIDesignDaily 2019</p>

        <div class="social-media-container">

            <div class="footer-social-btn"></div>

            <div class="footer-social-btn"></div>

            <div class="footer-social-btn"></div>

            <div class="footer-social-btn"></div>

            <div class="footer-social-btn"></div>

            <!--to replace with relevant icons-->

            <!--<img alt="twitter-logo" src="../style/img/twitter-logo.svg">-->

            <!--<img alt="behance-logo" src="../style/img/behance-logo.svg">-->

            <!--<img alt="dribbble-logo" src="../style/img/dribbble-logo.svg">-->

            <!--<img alt="instagram-logo" src="../style/img/instagram-logo.svg">-->

            <!--<img alt="facebook-logo" src="../style/img/facebook-logo.svg">-->

        </div>

    </div>



</div>



</body>
</html>